$background: #1f1f24;
$backgroundCard: #31313a;
$mainTheme: #f08808;
$white: #fff;
$lightGrey: #878787;
$lightFont: #d1d1d2;


@import url('https://fonts.googleapis.com/css?family=Raleway:600,800|Roboto:400,700&display=swap&subset=cyrillic');

//@font-face {
//  font-family: "SFUIDisplayBold";
//  src: url(/fonts/SFUIDisplay-Bold.otf);
//  }
//
//@font-face {
//  font-family: "SFUIDisplayRegular";
//  src: url(/fonts/SFUIDisplay-Regular.otf);
//  }
//
//@font-face {
//  font-family: "SFUIDisplayMedium";
//  src: url(/fonts/SFUIDisplay-Medium.otf);
//  }
//
//@font-face {
//  font-family: "SFUIDisplayHeavy";
//  src: url(/fonts/SFUIDisplay-Heavy.otf);
//  }
* {
  box-sizing: border-box;
}

html{
  font-size: 15px;
}

img{
  max-width: 100%;
}

a{
  //color: $defaultText;
}

dl, ol, ul, p{
  margin: 0;
  padding: 0;
}

p{
  margin-bottom: 10px;
}

.text-bold{
  font-weight: bold;
}

.text-uppercase{
  text-transform: uppercase;
}

.row {
  display: flex;
  flex-wrap: wrap;
  .col-12{
    width: 100%;
  }
  .col-6 {
    width: 50%;
  }
  .col-4{
    width: 33.3%;
  }
}
