$background: #1f1f24;
$backgroundCard: #31313a;
$mainTheme: #f08808;
$white: #fff;
$lightGrey: #878787;


@import url('https://fonts.googleapis.com/css?family=Raleway:600,800|Roboto:400,700&display=swap&subset=cyrillic');

//@font-face {
//  font-family: "SFUIDisplayBold";
//  src: url(/fonts/SFUIDisplay-Bold.otf);
//  }
//
//@font-face {
//  font-family: "SFUIDisplayRegular";
//  src: url(/fonts/SFUIDisplay-Regular.otf);
//  }
//
//@font-face {
//  font-family: "SFUIDisplayMedium";
//  src: url(/fonts/SFUIDisplay-Medium.otf);
//  }
//
//@font-face {
//  font-family: "SFUIDisplayHeavy";
//  src: url(/fonts/SFUIDisplay-Heavy.otf);
//  }
* {
  box-sizing: border-box;
}

html{
  font-size: 15px;
}

img{
  max-width: 100%;
}

a{
  //color: $defaultText;
}

dl, ol, ul, p{
  margin: 0;
  padding: 0;
}

p{
  margin-bottom: 10px;
}
