html[lang="bg-BG"] body, html[lang="bg-BG"] button, html[lang="bg-BG"] input, html[lang="bg-BG"] select, html[lang="bg-BG"] textarea, html[lang="ru-RU"] body, html[lang="ru-RU"] button, html[lang="ru-RU"] input, html[lang="ru-RU"] select, html[lang="ru-RU"] textarea, html[lang="uk"] body, html[lang="uk"] button, html[lang="uk"] input, html[lang="uk"] select, html[lang="uk"] textarea{
  font-family: 'SFUIDisplayRegular';
}

html{
  font-size: 15px;
}


body{
  margin: 0;
  font-family: 'SFUIDisplayRegular' !important;
  font-size: 15px;
  background: $background;
}

.page_wrap {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container {
  margin: 8vh 6vw;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 84vh;
  max-width: 1268px;
  max-height: 674px;
  transition: all .4s ease 0s;
  -moz-transition: all .4s ease 0s;
  -webkit-transition: all .4s ease 0s;
  -o-transition: all .4s ease 0s;
}

